<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ab beatae quidem, a officiis mollitia maxime
            similique? Rerum modi, corporis minus itaque omnis est, repudiandae inventore accusamus impedit, quo
            tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ab beatae quidem, a officiis mollitia maxime
            similique? Rerum modi, corporis minus itaque omnis est, repudiandae inventore accusamus impedit, quo
            tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ab beatae quidem, a officiis mollitia maxime
            similique? Rerum modi, corporis minus itaque omnis est, repudiandae inventore accusamus impedit, quo
            tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ab beatae quidem, a officiis mollitia maxime
            similique? Rerum modi, corporis minus itaque omnis est, repudiandae inventore accusamus impedit, quo
            tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ab beatae quidem, a officiis mollitia maxime
            similique? Rerum modi, corporis minus itaque omnis est, repudiandae inventore accusamus impedit, quo
            tempora.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>